name: Flutter CI

on:
  push:
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          dart-version: "2.19.2"

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.7.5"

      - name: Install dependencies
        run: flutter pub get

      - name: Get database schemas
        run: flutter pub run build_runner build

      - name: Analyze code
        run: flutter analyze

      - name: Run unit tests
        run: flutter test
